apiVersion: v1
kind: Service
metadata:
  name: medusa-backend
  labels:
    {{- include "store-medusa.medusa.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 9000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: medusa-backend
    app.kubernetes.io/instance: {{ .Values.storeName }}
