apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    {{- include "store-medusa.postgres.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
      name: postgres
  selector:
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: {{ .Values.storeName }}-pg
