apiVersion: v1
kind: Service
metadata:
  name: storefront
  labels:
    {{- include "store-medusa.storefront.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: storefront
    app.kubernetes.io/instance: {{ .Values.storeName }}-sf
